<div class="container text-center w-50 mt-4">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-row mb-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email' ,class: 'form-control' %>
  </div>

  <div class="form-row mb-4">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password',class: 'form-control' %>
  </div>

  <div class="form-row mb-4">
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-row">
    <%= f.submit "Sign up", class:"btn btn-primary w-100" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
