<!DOCTYPE html>
<html>
  <head>
    <title>Diagnostikare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <div>
      <% if signed_in? %>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <div class="container-fluid">
            <div class="container mt-3 mb-3">
              <div class="row">
                  <div class="col px-lg-5">
                    <a class="navbar-brand" href="/">Diagnostikare</a>
                  </div>
                  <div class="col px-lg-5">
                  </div>
                  <div class="col px-lg-5">
                  </div>
                  <div class="col px-lg-5">
                    <div class="d-flex justify-content-end">
                      <p class="text-light"><%= current_user.email %></p>
                      <a class="nav-link" >
                        <%= link_to "logout", destroy_user_session_path, method: :delete, class:"text-light" %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            </div>
          </div>
        </nav>
      <% end %>
    </div>
    <div class="m-2 p-4">
      <%= yield %>
    </div>
  </body>
</html>
